[mysqld]
# Proteção contra SQL Injection e hardening geral

local_infile                = 0
sql_mode                    = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
secure_file_priv            = /var/lib/mysql-files
symbolic-links              = 0
max_allowed_packet          = 16M
max_connections             = 200
max_connect_errors          = 10
